<ul class="share-buttons">
  <li><a href="https://facebook.com/sharer.php?u=dsnnunes.com.br{{ page.url }}"title="Share on Facebook" target="_blank"><img alt="Share on Facebook" src="/assets/social_flat_rounded_rects_svg/Facebook.svg"></a></li>
  <li><a href="https://twitter.com/intent/tweet?text={{ page.title }}&url=dsnnunes.com.br{{ page.url }}&via={{ site.twitter_username }}&related={{ site.twitter_username }}" target="_blank" title="Tweet"><img alt="Tweet" src="/assets/social_flat_rounded_rects_svg/Twitter.svg"></a></li>
  <li><a href="https://plus.google.com/share?url=dsnnunes.com.br{{ page.url }}" target="_blank" title="Share on Google+"><img alt="Share on Google+" src="/assets/social_flat_rounded_rects_svg/Google+.svg"></a></li>
  <li><a href="mailto:?subject=Daniel%20Saad%20Nogueira%20Nunes&body=P%C3%A1gina%20Pessoal:%20http%3A%2F%2Fdsnnunes.com.br" target="_blank" title="Send email"><img alt="Send email" src="/assets/social_flat_rounded_rects_svg/Email.svg"></a></li>
</ul>
